{
    "chmod": "0755",
    "compression" : "BZ2",
    "files": [
        "vendor/autoload.php",
        "vendor/guzzle/guzzle/src/Guzzle/Http/Resources/cacert.pem",
        "vendor/herrera-io/phar-update/res/schema.json"
    ],
    "finder": [
        {
            "name": "*",
            "in": "src"
        },
        {
            "name": "*.php",
            "in" : [
                "vendor/composer",
                "vendor/aws/aws-sdk-php/src/Aws/Common",
                "vendor/aws/aws-sdk-php/src/Aws/S3",
                "vendor/aws/aws-sdk-php/src/Aws/Sqs",
                "vendor/guzzle/guzzle/src",
                "vendor/guzzlehttp/guzzle/src",
                "vendor/guzzlehttp/promises/src",
                "vendor/guzzlehttp/psr7/src",
                "vendor/herrera-io/json/src",
                "vendor/herrera-io/phar-update/src",
                "vendor/herrera-io/version/src",
                "vendor/justinrainbow/json-schema/src",
                "vendor/monolog/monolog/src",
                "vendor/pimple/pimple/src",
                "vendor/psr",
                "vendor/seld/jsonlint/src"
            ]
        },
        {
            "name": "*.php",
            "in" : "vendor/symfony",
            "exclude" : [
                "Tests"
            ]
        }
    ],
    "git-commit": "git-commit",
    "git-version": "git-version",
    "main": "bin/console",
    "output": "elfbot-@git-version@.phar",
    "stub": true
}
